.custom-button {
	height: 100%;
	background-color: var(--classic-blue);
	color: white;
	font-size: 100%;
	border: none;
	border-radius: 0 30px 30px 0;
	cursor: pointer;

	transition-property: background-color;
	transition-duration: 0.1s;
}

.custom-button:disabled {
	background-color: var(--not-selected);
	cursor: default;
}
