.select-box {
	height: 100%;
	font-weight: bolder;

	color: var(--classic-blue);
	font-size: 100%;
	border-style: none;

	cursor: pointer;

	text-align: center;
}

.select-option {
	color: var(--classic-blue);
	font-weight: 600;
}

.notSelected {
	color: var(--not-selected);
	font-weight: 600;
}
