.spinner-wrapper-full {
	width: 80px;
	height: 80px;
}

.spinner-wrapper-custom {
	width: 100%;
	height: 100%;
}

.spinner {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.spinner-blue {
	border: 10px solid var(--spinner-border);
	border-top: 10px solid var(--classic-blue);
}

.spinner-grey {
	border: 5px solid var(--spinner-border);
	border-top: 5px solid #7b7b7bcb;
}

.speed-default {
	animation: spin 0.5s linear infinite;
}

.speed-slow {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
