.tooltip-wrapper {
	position: relative;
	transition: visibility 0.1s, opacity 0.1s linear;
}

.tooltip-content {
	position: absolute;

	top: 50px;
	left: 15px;
	width: max-content;

	padding-inline: 10px;

	font-size: small;

	background-color: white;
	border: 5px solid black;

	border-radius: 15px;

	box-shadow: var(--common-shadow);
}

.tooltip-content.alert-tooltip {
	font-weight: 700;
	color: var(--alert-text);
	border: 5px solid var(--tooltip-alert);
}

.tooltip-content:after {
	position: absolute;
	top: -12px;
	left: 10%;

	border-top: 0 solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;

	content: "";
}

.tooltip-content.alert-tooltip:after {
	border-bottom: 10px solid var(--tooltip-alert);
}

.go-home {
	visibility: hidden;
	opacity: 0;
}

.show-up {
	visibility: visible;
	opacity: 1;
}
