/* Description */
.description-span {
	cursor: pointer;
	color: var(--information);
	position: relative;
}

.tooltip-wrapper {
	position: relative;
	transition: visibility 0.1s, opacity 0.1s linear;
}

.tooltip-content {
	position: absolute;

	top: -300px;
	left: 10px;

	width: 480px;
	height: 280px;

	padding: 0.5px 5px 0 2px;

	background-color: black;

	border-radius: 15px;

	box-shadow: var(--common-shadow);
}

.tooltip-content:after {
	position: absolute;
	top: 280px;
	left: 10%;

	border-top: 10px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 0px solid transparent;

	content: "";
}

.go-home {
	visibility: hidden;
	opacity: 0;
}

.show-up {
	visibility: visible;
	opacity: 1;
}

.tooltip-content {
	margin: 10px;
}

img {
	width: 100%;
	border-radius: 15px;
}
