.description-wrapper {
  width: 100%;
  /* height: 40vh; */
  height: 380px;

  display: flex;
  align-items: center;
}

.description-content {
  margin-top: 80px;
  width: 100%;
}

.description-info {
  color: var(--information);
  cursor: pointer;
}

.description-span {
  cursor: pointer;
  color: var(--information);
  position: relative;
}

.title-description {
  font-weight: 300;
  margin: 0;
}

.upper-wrapper {
  margin-bottom: 50px;
}

.upper-wrapper a {
  text-decoration: none;
  color: var(--information);
  font-weight: 500;
}

.brief-description {
  font-weight: 300;
}

.tooltip-wrapper {
  position: relative;
  transition: visibility 0.1s, opacity 0.1s linear;

  z-index: 1;
}

.main-tooltip-content {
  position: absolute;

  top: 40px;
  left: -800px;

  width: 850px;
  height: 480px;

  padding: 10px 8px 10px;

  background-color: black;

  border-radius: 15px;

  box-shadow: var(--common-shadow);
}

.main-tooltip-content:after {
  position: absolute;
  top: -10px;
  left: 802px;

  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;

  content: "";
}

.tooltip-content {
  position: absolute;

  top: 25px;
  left: -370px;

  /* width: 480px; */
  height: 360px;

  padding: 10px;

  background-color: black;

  border-radius: 15px;

  box-shadow: var(--common-shadow);
}

.tooltip-content:after {
  position: absolute;
  top: -10px;
  right: 10%;

  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;

  content: "";
}

.go-home {
  visibility: hidden;
  opacity: 0;
}

.show-up {
  visibility: visible;
  opacity: 1;
}

.tooltip-content {
  margin: 10px;
}

img {
  height: 100%;
  border-radius: 15px;
}

.description-content a {
  text-decoration: none;
  color: var(--information);

  transition: 0.3s;
  transform: color;
}

.description-content a:hover {
  color: #8bb8e8;
}
