/* Wrapper */
.form-wrapper {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* Form */
.form-body {
  height: 100%;
}

/* Description */
.description-span {
  cursor: pointer;
  color: #004add;
}
