/* Serch Bar */
.search-bar {
	position: relative;
	border-radius: 30px;
	box-shadow: var(--common-shadow);
	margin-inline: auto;

	/* border: 3px solid var(--classic-blue); */

	height: 60px;
	width: 470px;
}

.search-bar > select {
	width: 25%;
}

.search-bar > input {
	width: 40%;
	padding: 0 5%;
}

.search-bar > button {
	width: 25%;
}
