/* Serch Bar */
.search-bar {
	position: relative;
	border: 5px solid var(--classic-blue);
	margin-inline: auto;

	height: 60px;
	width: 470px;

	padding: 2px;

	font-weight: bolder;
}

.search-select {
	width: 25%;
	transition-property: color font-weight;
	transition-duration: 0.8s;
}

.search-button {
	width: 25%;
	transition-property: color font-weight;
	transition-duration: 1.2s;
}

.search-bar > input {
	width: 40%;
	padding: 0 5%;
}

.search-bar > *:focus {
	outline: none;
}
