@font-face {
	font-family: "NanumSquareNeo";
	src: url(./fonts/NanumSquareNeo.ttf);
}

.App-body {
	background-color: #f7f7f7;

	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

* {
	font-family: "NanumSquareNeo", "Helvetica", "serif";
}
